:root {
  --accent: 37 99 235;
  --content: 0 0 0;
  --background: 255 255 255;
  --foreground: 230 230 230;
  --edge: 200 200 200;
}

.theme-dark {
  --accent: 37 99 235;
  --content: 255 255 255;
  --background: 24 24 27;
  --foreground: 39 39 42;
  --edge: 59 130 246;
}

.theme-custom {
  --accent: 255 41 167;
  --content: 41 75 255;
  --background: 209 255 253;
  --foreground: 137 141 84;
  --edge: 254 0 138;
}

body {
  @apply bg-background;
  @apply text-content;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
